.box-shadow {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}

.medium-container {
    padding: 30px 5%;
}

.weather-stat {
    margin-bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pitch-up-details #map {
    aspect-ratio: 1;
}

.quote_form_field #search_bar {
    z-index: 1000;
}

.quote_form_field .autocom-box {
    margin-top: 10px;
    width: 60%;
    left: 20%;
    text-align: left;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    z-index: 2;
}

.quote_form_field .autocom-box.active {
    display: block;
}

.quote_form_field .autocom-box.inactive {
    display: none;
}

.quote_form_field li {
    padding: 15px;
    list-style-type: none;
}

.quote_form_field li:hover {
    cursor: pointer;
    background: #f2f2f2;
}

.standard-padding {
    padding: 15px !important;
}
